@using Tracy.Frameworks.Common.Extends;
@using Log.Common.Helper;
@model Log.Entity.Db.TLogsXmlLog
@{
    ViewBag.Title = "Xml日志详情";
    Layout = "~/Views/Shared/_DebugLogDetailLayout.cshtml";
}

@{
    //创建时间
    var createdTime = string.Empty;
    if (Model.CreatedTime.HasValue)
    {
        createdTime = Model.CreatedTime.Value.ToString("yyyy-MM-dd HH:mm:ss.fff");
    }

    //rq,rs
    var rq = string.Empty;
    var rs = string.Empty;
    if (Model.Rq != null && Model.Rq.Length > 0)
    {
        rq = Model.Rq.LZ4Decompress();
    }
    if (Model.Rs != null && Model.Rs.Length > 0)
    {
        rs = Model.Rs.LZ4Decompress();
    }
}

<h2>Id</h2>
@Html.DisplayFor(p => p.Id)
<h2>Created Time</h2>
@Html.Raw(createdTime)
<h2>System Code</h2>
@Html.DisplayFor(p => p.SystemCode)
<h2>Source</h2>
@Html.DisplayFor(p => p.Source)
<h2>ClassName</h2>
@Html.DisplayFor(p => p.ClassName)
<h2>MethodName</h2>
@Html.DisplayFor(p => p.MethodName)
<h2>Machine Name</h2>
@Html.DisplayFor(p => p.MachineName)
<h2>Ip Address</h2>
@Html.DisplayFor(p => p.IpAddress)
<h2>Process Id</h2>
@Html.DisplayFor(p => p.ProcessId)
<h2>Process Name</h2>
@Html.DisplayFor(p => p.ProcessName)
<h2>Thread Id</h2>
@Html.DisplayFor(p => p.ThreadId)
<h2>Thread Name</h2>
@Html.DisplayFor(p => p.ThreadName)
<h2>Appdomain Name</h2>
@Html.DisplayFor(p => p.AppdomainName)
<h2>RQ</h2>
@Html.Raw(rq)
<h2>RS</h2>
@Html.Raw(rs)
<h2>Remark</h2>
@Html.DisplayFor(p => p.Remark)